/* CSS declarations go here */

body {
  background-color: #FD717D;
  color: #fff;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  background: #FD717D;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

