/* CSS declarations go here */
body {
  background-color: #FD717D;
  color: #fff;
  font-family: 'helsinki-webfont', sans-serif;
}

@font-face {
    font-family: helsinki-webfont; 
    src:
    url("/fonts/helsinki-webfont.ttf"),
    url("/fonts/helsinki-webfont.eot");
}
