.chat html,body{height:100%;}

.chat h1 {
  color: #FD717D;
  text-align: center;
}

.chat ul {
  margin: 0;
  padding: 0;
}

.chat li {
  position: relative;
  list-style: none;
  padding: 15px;
  background: #FD717D;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-right: 25px;
}

.chat .new-message {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  background-color: white;
}

.chat .event {
  background-color: #FD717D;
  height: 100vh;
}

.chat .chat-container {
  background-color: white;
  position: relative;
  height: 100vh;

}

.chat .chat-list {
  height: 80%;
  overflow: scroll;
}

.chat .button-send {
  width: 20%;
  float: right;
  margin-right: 25px;
}

.chat .input-message {
  float: left;
  margin-left: 25px;
}

.chat #input-textfield-message {
  width: 70%
}

.chat .card {
  background-color: white;
  height: 400px;
  width: 300px;
  border-radius: 10px;

  margin: auto;
  margin-top: 100px;
}

.chat .info {
  height: 200px;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  color: white;
}

img {
  margin-left: 35px;
}
