.login {
  text-align: center;
  margin-top: 40px;
}

.login input {
    background: rgba(255,255,255,0.50);
    border: none;
    border-radius:10px;
    margin-bottom: 8px;
}

.rectangle {
  border: 6px solid rgba(255,255,255,0.50);
  border-radius: 19px;
  width: 300px;
  padding-bottom: 30px;
  margin: 0 auto 0 auto;
}
