.selection h1 {
    text-align: center;
    color: #fff;
}

.selection .vignette {
    border-radius: 17px;
    padding: 20px;
}

.selection .vignette .image {
    height: 100%;
    width: 100%;
    border-radius: 17px;
    max-height: 180px;
}

.selection .vignette.checked .image {
    opacity: .5;
}

.selection .vignette .check-icon {
    position: absolute;
    right: 0px;
    top: 28px;
}

.selection .vignette .check-icon {
    display: none;
}

.selection .vignette.checked .check-icon {
    display: block;
}

.selection .next {
    text-align: right;
}

.selection .categorie {
    position: absolute;
    bottom: 19px;
    left: 60px;
    opacity: .5;
    font-size: 40px;
    overflow: hidden;
}