.swipe {
    text-align: center;
}

.swipe .map-container {
    width: 100%;
    height: 350px;
    margin: 20px 0px;
}

.swipe .prediction {
    margin-top: 10px !important;
}

.swipe .buttons {

}

.swipe select {
    color: #000;
}